/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.ui.all
 *= require_self
 */

@import "reset";
@import "nav";
@import "index";
@import "dblclick";

//@import "bootstrap";
@import "font-awesome";

html {
  height: 100%;
  overflow: hidden;
}

body {
  position: absolute;
  width: auto;
  height: 100%;
  font-family: sans-serif;
}

body.board-show {
  background: rgb(34,113,159);
}

body.board-index {
  background: rgb(34,113,159);
}

div#board-show {
  height: 100%;
}

div#for-dblclick {
  height: 100%;
}

div#main {
  position: absolute;
  bottom: 0;
  width: 100%;
  top: 40px;
  overflow-x: auto;
}

h1 {
  padding: 15px;
  font-size: 16pt;
  color: white;
}

h3 {
  margin-left: 3px;
  font-size: 12pt;
  font-weight: bold;
}

div.list {
  float: left;
  margin-left: 10px;
  background: #E3E3E3;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  width: 250px;
  position: relative;
}

div.card {
  background: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  word-wrap: break-word;
}

div.card:hover {
  background: #F2F2F2;
}

button#delete-card {
  display: none;
  position: absolute;
  top: 3px;
  right: 3px;
}

button#delete-card.active {
  display: block;
}

button#delete-list {
  position: absolute;
  top: 10px;
  right: 10px;
}

button#create-new-list {
  float: left;
  margin-left: 10px;
  background: black;
  opacity: 0.15;
  padding: 10px;
  border-radius: 5px;
  width: 250px;
  position: absolute;
  transition: opacity 0.15s;
}

button#create-new-list.text {
  background: transparent;
  opacity: 0.9;
  color: white;
  text-align: left;
  position: relative;
}

button#create-new-card {
  background: #E3E3E3;
  margin-top: 10px;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  width: 100%;
  text-align: left;
  position: absolute;
  left: 0;
  color: grey;
}

button#create-new-card:hover {
  opacity: 1;
  background: #BABABA;
  color: black;
  text-decoration: underline;
}

div#create-list-location {
  display: none;
  width: 250px;
  float: left;
  margin-left: 10px;
  background: #E3E3E3;
  padding: 3px;
  border-radius: 5px;
  width: 250px;
  position: relative;
}

div#create-list-location.active {
  display: block;
}

input#list-title {
  width: 95%;
  font-size: 12pt;
  border-radius: 5px;
  border: 1px solid grey;
  padding: 5px;
  background: #A4A4A4;
  margin-bottom: 5px;
}

.ui-sortable-helper {
  transform: rotate(5deg);
}

button#create-list {
  background-image: linear-gradient(rgb(35,167,40),rgb(27,127,29));
  padding: 5px 18px 5px 15px;
  border-radius: 5px;
  color: white;
}

::-webkit-input-placeholder {
  color: grey;
}

div#card-create {
  position: absolute;
  left: 0;
  width: 250px;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  background: #E3E3E3;
}

textarea#card-title {
  width: 98.5%;
  height: 50px;
  border-radius: 5px;
  border: 0;
  box-shadow: 0 0 0.5em grey;
}

button#create-card {
  background-image: linear-gradient(rgb(35,167,40),rgb(27,127,29));
  padding: 5px 18px 5px 15px;
  border-radius: 5px;
  color: white;
  margin-top: 10px;
}

div.sign-up, div.sign-in {
  width: 150px;
  height: 300px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

  h1 {
    text-align: center;
  }

  form {
    label {
      color: white;
    }

    input[type="text"], input[type="password"] {
      width: 144px;
      border-radius: 5px;
      border: 0;
      padding: 3px;
    }
  }
}
