<h1>My Boards</h1>
<ul>
  <li id="dummy">$nbsp</li>
  <% boards.sortBy("created_at").forEach(function (board) { %>
    <li class="jump-to" id="<%= board.id %>"><a><%= board.escape("title") %></a>
      <button id="delete-board" data-id="<%= board.id %>">
        <span class="ui-icon ui-icon-close"></span>
      </button>
    </li>
  <% }) %>
  <li id="create">
    <button id="create-new-board">Create new board...</a>
  </li>
</ul>
